In [1]:
import pymongo as pym

In [2]:
client = pym.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
db = client['task2']

# inserting data

In [4]:
information = db.telephonedirectory

In [5]:
records = [{'name' : "tom",
            'place' : 'newyork',
            'phone':9876543210,
            'age':14
           },
           {'name' : "jerry",
            'place' : 'newyork',
            'phone':9876345210,
            'age':11
           },{'name' : "thor",
            'place' : 'asgurd',
            'phone':9876541203,
            'age':950
           },{'name' : "tony stark",
            'place' : 'avengers tower',
            'phone':9876540123,
            'age':58
           },{'name' : "peter parker",
            'place' : 'newyork',
            'phone':7896543210,
            'age':21
           },{'name' : "nobita",
            'place' : 'nerima ward,tokyo',
            'phone':8976543210,
            'age':16
           },{'name' : "doremon",
            'place' : 'nerima ward,tokyo',
            'phone':8876543210,
            'age':16
           },{'name' : "gion",
            'place' : 'nerima ward,tokyo',
            'phone':9877543210,
            'age':14
           },{'name' : "luca",
            'place' : 'portorosso,italy',
            'phone':9876443210,
            'age':14
           },{'name' : "alberto",
            'place' : 'portorosso,italy',
            'phone':9876553210,
            'age':14
           },{'name' : "kick buttowski",
            'place' : 'karaikudi',
            'phone':9876543211,
              'age': 10,
         
    
}]

In [6]:
information.insert_many(records)

In [12]:
for i in information.find():
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork,USA', 'phone': 9191222199, 'age': 15}
{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork,USA', 'phone': 9191919199, 'age': 12}
{'_id': ObjectId('6367bd39dfdb3d43918b7e37'), 'name': 'tony stark', 'place': 'avengers tower', 'phone': 9876540123, 'age': 58}
{'_id': ObjectId('6367bd39dfdb3d43918b7e38'), 'name': 'peter parker', 'place': 'newyork,USA', 'phone': 7896543210, 'age': 21}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3c'), 'name': 'luca', 'place': 'portorosso,italy', 'phone': 9876443210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3d'), 'name': 'alberto', 'place': 'portorosso,italy', 'phone': 9876553210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3e'), 'name': 'kick buttowski', 'place': 'karaikudi', 'phone': 9876543211}

In [8]:
information.find_one()

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'),
 'name': 'tom',
 'place': 'newyork,USA',
 'phone': 9191222199,
 'age': 15}

In [18]:
information.find_one({'age':10})

{'_id': ObjectId('6367bdc7dfdb3d43918b7e49'),
 'name': 'kick buttowski',
 'place': 'karaikudi',
 'phone': 9876543211,
 'age': 10}

In [20]:
for i in information.find({"place":"newyork"}):
          print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork', 'phone': 9876543210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork', 'phone': 9876345210, 'age': 11}
{'_id': ObjectId('6367bd39dfdb3d43918b7e38'), 'name': 'peter parker', 'place': 'newyork', 'phone': 7896543210, 'age': 21}

In [22]:
for i in information.find({"age":{'$gte':20}}):
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e36'), 'name': 'thor', 'place': 'asgurd', 'phone': 9876541203, 'age': 950}
{'_id': ObjectId('6367bd39dfdb3d43918b7e37'), 'name': 'tony stark', 'place': 'avengers tower', 'phone': 9876540123, 'age': 58}
{'_id': ObjectId('6367bd39dfdb3d43918b7e38'), 'name': 'peter parker', 'place': 'newyork', 'phone': 7896543210, 'age': 21}

In [23]:
for i in information.find({"age":{'$lt':18}}):
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork', 'phone': 9876543210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork', 'phone': 9876345210, 'age': 11}
{'_id': ObjectId('6367bd39dfdb3d43918b7e39'), 'name': 'nobita', 'place': 'nerima ward,tokyo', 'phone': 8976543210, 'age': 16}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3a'), 'name': 'doremon', 'place': 'nerima ward,tokyo', 'phone': 8876543210, 'age': 16}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3b'), 'name': 'gion', 'place': 'nerima ward,tokyo', 'phone': 9877543210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3c'), 'name': 'luca', 'place': 'portorosso,italy', 'phone': 9876443210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3d'), 'name': 'alberto', 'place': 'portorosso,italy', 'phone': 9876553210, 'age': 14}
{'_id': ObjectId('6367bdc7dfdb3d43918b7e48'), 'name': 'alberto', 'place': 'portorosso,italy', 'phone': 9876553210, 'age': 14}
{'_id': ObjectId('6367bdc7dfdb3d43918b7e49'), 'name': 'kick buttowski', 'place': 'karaikudi', 'phone': 9876543211, 'age': 10}

# update one

In [26]:
information.update_one({"name":"jerry"},{'$set':{'age':12,'phone':9191919199}})

In [27]:
for i in information.find({"name":"jerry"}):
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork', 'phone': 9191919199, 'age': 12}

In [28]:
information.update_one({"name":"tom"},{'$set':{'age':15,'phone':9191222199}})

In [29]:
for i in information.find({'name':'tom'}):
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork', 'phone': 9191222199, 'age': 15}

# update many

In [30]:
information.update_many({"place":"newyork"},{'$set':{'place':'newyork,USA'}})

In [32]:
for i in information.find({'place':'newyork,USA'}):
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork,USA', 'phone': 9191222199, 'age': 15}
{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork,USA', 'phone': 9191919199, 'age': 12}
{'_id': ObjectId('6367bd39dfdb3d43918b7e38'), 'name': 'peter parker', 'place': 'newyork,USA', 'phone': 7896543210, 'age': 21}

# delete a data in database

In [33]:
information.delete_one({"name":'thor'})

In [13]:
for i in information.find():
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork,USA', 'phone': 9191222199, 'age': 15}
{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork,USA', 'phone': 9191919199, 'age': 12}
{'_id': ObjectId('6367bd39dfdb3d43918b7e37'), 'name': 'tony stark', 'place': 'avengers tower', 'phone': 9876540123, 'age': 58}
{'_id': ObjectId('6367bd39dfdb3d43918b7e38'), 'name': 'peter parker', 'place': 'newyork,USA', 'phone': 7896543210, 'age': 21}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3c'), 'name': 'luca', 'place': 'portorosso,italy', 'phone': 9876443210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3d'), 'name': 'alberto', 'place': 'portorosso,italy', 'phone': 9876553210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3e'), 'name': 'kick buttowski', 'place': 'karaikudi', 'phone': 9876543211}

#  delete a manydata in database

In [9]:
information.delete_many({"place":"nerima ward,tokyo"})

In [14]:
for i in information.find():
    print(i)

{'_id': ObjectId('6367bd39dfdb3d43918b7e34'), 'name': 'tom', 'place': 'newyork,USA', 'phone': 9191222199, 'age': 15}
{'_id': ObjectId('6367bd39dfdb3d43918b7e35'), 'name': 'jerry', 'place': 'newyork,USA', 'phone': 9191919199, 'age': 12}
{'_id': ObjectId('6367bd39dfdb3d43918b7e37'), 'name': 'tony stark', 'place': 'avengers tower', 'phone': 9876540123, 'age': 58}
{'_id': ObjectId('6367bd39dfdb3d43918b7e38'), 'name': 'peter parker', 'place': 'newyork,USA', 'phone': 7896543210, 'age': 21}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3c'), 'name': 'luca', 'place': 'portorosso,italy', 'phone': 9876443210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3d'), 'name': 'alberto', 'place': 'portorosso,italy', 'phone': 9876553210, 'age': 14}
{'_id': ObjectId('6367bd39dfdb3d43918b7e3e'), 'name': 'kick buttowski', 'place': 'karaikudi', 'phone': 9876543211}

In [15]:
# if want to delete all
information.delete_many({})